body {
    font-weight: 100;
}

h1  {
    font-weight: 100;
}

h2 {
    font-weight: 100;
}

.tour-list {
    list-style-type: none;
    padding: 0;
}

.border {
    border: 1px solid silver;
    padding: 20px;
    margin-bottom: 10px;
}

.homepage_tour_div {

    border: 1px solid rgb(230, 230, 230);
    padding: 20px;
    /* margin-bottom: 10px; */
    width: 370px;
    height: 280px;
    margin-left: -1px;
    margin-top: -1px;
}

.popularTours {
    display: block;
    min-height: 300px;
}

.popularTours ul {
    list-style-type: none;
    padding: 0;
}

.popularTours li {
    float: left;
}

.res-form-header {
    margin-bottom: 30px;
    border-bottom: 5px solid rgb(77, 77, 77);
}

.tour_main_header {
    font-size: 18px;
    font-weight: bold;
    max-width: 100%;
}

.make-payment-title {
    padding:15px;
    border-bottom:1px solid silver;
    margin-bottom: 20px;
}